.login-container {
  .login-buttons {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a,
  button {
    // width: 10rem;
    margin-top: 0.25rem;
  }

  .login-kakao {
  }
}
