.user-home-container {
  display: flex;
  flex-flow: column;
  height: 50rem;
  position: relative;

  .top-banner {
    position: absolute;
    width: 100%;
    height: 10rem;
    background-color: #4b4b4b;
    text-align: center;
    color: #fff;
  }

  .top-dashboard{
    background-color: #fff;
    position: absolute;
    left: 30.5rem;
    top: 8rem;
    width: 56rem;
    height: 9rem;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.514);
    display: flex;
    flex-flow: column;

  }
  .all-list-content {
    display: flex;
    align-items: stretch;
    list-style-type: disc;
    padding-inline-start: 0rem;
    padding-inline-end: 0rem;
    margin-block-start: 0;
    margin-block-end: 1rem;
  }
  .list-content-certification-rate {
      flex: 1;
      width: 14rem;
      height: 9rem;
      -webkit-box-flex: 1;
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      background-color: #f5cbcb;
      overflow: hidden;
      border-right: 0.1rem solid rgba(0, 0, 0, 0.05);
    }
    .list-content-post-count {
      flex: 1;
      width: 14rem;
      height: 9rem;
      -webkit-box-flex: 1;
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      border-right: 0.1rem solid rgba(0, 0, 0, 0.05);
    }
    .list-content-preceding-count {
      flex: 1;
      width: 14rem;
      height: 9rem;
      -webkit-box-flex: 1;
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      border-right: 0.1rem solid rgba(0, 0, 0, 0.05);
    }
    .list-content-goal-achievement-rate {
      flex: 1;
      width: 14rem;
      height: 9rem;
      -webkit-box-flex: 1;
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      border-right: 0.1rem solid rgba(0, 0, 0, 0.05);
    }

    .list-title-certification-rate {
      width: fit-content;
      height: 2rem;
      display: flex;
      font-size: 1rem;
      padding: 1rem 1rem;
      font-weight: bold;
    }
    .list-title-post-count {
      width: fit-content;
      height: 2rem;
      display: flex;
      font-size: 1rem;
      padding: 1rem 1rem;
      font-weight: bold;
    }
    .list-title-preceding-count {
      width: fit-content;
      height: 2rem;
      display: flex;
      font-size: 1rem;
      padding: 1rem 1rem;
      font-weight: bold;
    }
    .list-title-goal-achievement-rate {
      width: fit-content;
      height: 2rem;
      display: flex;
      font-size: 1rem;
      padding: 1rem 1rem;
      font-weight: bold;
    }
    .list-value-content {
      float: left;
      height: 6.5rem;
      display: flex;
      .list-certification-rate {
        width: fit-content;
        font-size: 2rem;
        margin-left: 1rem;
        font-weight: bold;
        margin-top: 2rem;
        align-content: flex-end;
      }
      .list-post-count {
        width: fit-content;
        font-size: 2rem;
        margin-left: 1rem;
        margin-top: 2rem;
        align-content: flex-end;
      }
      .list-preceding-count {
        width: fit-content;
        font-size: 2rem;
        margin-left: 1rem;
        margin-top: 2rem;
        align-content: flex-end;
      }
      .list-goal-achievement-count {
        width: fit-content;
        font-size: 2rem;
        margin-left: 1rem;
        margin-top: 2rem;
        align-content: flex-end;
      }
      .list-unit {
        height: fit-content;
        width: fit-content;
        margin-top: 3rem;
      }
    }
    .list-content-bottom {
      height: 0.5rem;
      background-color: #f04d4d;
      
    }
  
  .bottom-dashboard {
    flex: 7;
    text-align: center;
    position: absolute;
    left: 30rem;
    top: 25rem;
    width: 80rem;
    height: wrap;
    // justify-content: center;

    .user-tabs-dummy {
      flex: 1;
    }

    .user-tabs {
      flex: 3;

      .MuiTabs-flexContainer {
        padding: 0 1rem;
      }
      .MuiTab-root {
        min-width: 5rem;
        min-height: 1rem;
        padding: 0.25rem 1rem;
        font-weight: bold;
      }
      .Mui-selected {
        background-color: #f04d4d;
        color: #fcfcfc;
        margin: 1rem;
        border-radius: 1.5rem;
      }
      .MuiTabs-indicator {
        display: none;
      }
      .card-container {
        display: flex;
        padding-right: 5rem;
        .card-item {
          flex: 1;
          margin-right: 2rem;
          min-height: 20rem;
        }
      }
    }
  }

  .center-profile {
    background-color: #fff;
    position: absolute;
    left: 5rem;
    top: 8rem;
    width: 20rem;
    height: 23rem;
    border: solid 2px #e8e8e8;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.514);
    display: flex;
    flex-flow: column;
    padding: 2rem 1rem;

    .user-profile-img {
      flex: 2;
      text-align: center;
      img {
        width: 7.5rem;
        border-radius: 50%;
        box-shadow: 1px 1px 1px #333;
      }
    }
    .user-profile-info {
      flex: 2;
      display: flex;
      flex-flow: column;
      text-align: center;
      margin: 0.5rem 0;

      .user-name {
        font-size: 1.25rem;
        font-weight: bold;
      }
      .user-id {
        font-size: 0.9rem;
        margin-top: 0.25rem;
        color: #333333;
      }
      .user-subscrip-period {
        font-size: 0.8rem;
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
        color: #f04d4d;
      }
      .user-region {
        font-size: 0.8rem;
        margin: 0.5rem 0;
        color: gray;
      }
    }
    .user-profile-buttons {
      flex: 4;
      display: flex;
      flex-flow: column;

      button,
      a {
        margin-bottom: 0.5rem;
        border-radius: 2rem;
      }

      .edit-profile {
        background-color: #f04d4d;
        color: #fcfcfc;
        font-weight: bold;
        margin-top: 1rem;
      }
      .edit-availability {
        background-color: #fcfcfc;
        color: #f04d4d;
        font-weight: bold;
      }
      .count-container {
        display: flex;
        padding: 0.5rem;
        font-size: 0.9rem;

        .preceding-container{
          flex: 1;
          margin-left: 0.5rem;

          .preceding-count {
            margin-left: 0.5rem;
            font-weight: bold;
          }

        }
        .follower-container{
          flex: 1;
          margin-left: 0.5rem;

          .follower-count {
            margin-left: 0.5rem;
            font-weight: bold;
          }

        }
        .following-container{
          flex: 1;
          margin-left: 0.5rem;

          .following-count {
            margin-left: 0.5rem;
            font-weight: bold;
          }
        }
      }
    }
    .user-profile-date {
      flex: 1;
      text-align: center;
      font-size: 0.75rem;
      color: gray;
    }
  }
}
