.user-home-container {
  display: flex;
  flex-flow: column;
  height: 50rem;
  position: relative;

  .top-banner {
    flex: 2;
    background-color: #4b4b4b;
    text-align: center;
    color: #fff;
  }
  .bottom-dashboard {
    flex: 7;
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    // justify-content: center;

    .user-tabs-dummy {
      flex: 1;
    }

    .user-tabs {
      flex: 3;
      .MuiTabs-flexContainer {
        padding: 0 1rem;
      }
      .MuiTab-root {
        min-width: 5rem;
        min-height: 1rem;
        padding: 0.25rem 1rem;
      }
      .Mui-selected {
        background-color: black;
        color: white;
        margin: 1rem;
        border-radius: 1.5rem;
      }
      .MuiTabs-indicator {
        display: none;
      }
      .card-container {
        display: flex;
        padding-right: 5rem;
        .card-item {
          flex: 1;
          margin-right: 2rem;
          min-height: 20rem;
        }
      }
    }
  }
  .center-profile {
    background-color: #fff;
    position: absolute;
    left: 5rem;
    top: 3.5rem;
    width: 20rem;
    height: 28rem;
    border-radius: 5px;
    border: solid 2px #e8e8e8;
    // box-shadow: 1px 1px 1px 1px #c8c8c8;
    display: flex;
    flex-flow: column;
    padding: 2rem 1rem;

    .user-profile-img {
      flex: 2;
      text-align: center;
      img {
        width: 7.5rem;
        border-radius: 50%;
        box-shadow: 1px 1px 1px #333;
      }
    }
    .user-profile-info {
      flex: 2;
      display: flex;
      flex-flow: column;
      text-align: center;
      margin: 0.5rem 0;

      .user-name {
        font-size: 1.25rem;
        font-weight: bold;
      }
      .user-job {
        font-size: 0.9rem;
        margin-top: 0.25rem;
        color: gray;
      }
      .user-group {
        font-size: 0.9rem;
        margin-bottom: 0.25rem;
        color: gray;
      }
      .user-region {
        font-size: 0.8rem;
        margin: 0.5rem 0;
        color: gray;
      }
    }
    .user-profile-buttons {
      flex: 4;
      display: flex;
      flex-flow: column;

      button {
        margin-bottom: 0.5rem;
        border-radius: 2rem;
      }

      .edit-profile {
        background-color: #0057ff;
        color: #fff;
        font-weight: bold;
      }
      .edit-availability {
        background-color: #f5f8ff;
        color: #0057ff;
        font-weight: bold;
      }
      .edit-dummy {
        background-color: #fff;
        font-weight: bold;
      }
      .following {
        display: flex;
        padding: 0.5rem;
        font-size: 0.9rem;
        font-weight: bold;

        span {
          flex: 1;
        }
        .following-count {
          text-align: end;
        }
      }
    }
    .user-profile-date {
      flex: 1;
      text-align: center;
      font-size: 0.75rem;
      color: gray;
    }
  }
}
