.add-chln-form {
  padding: 2.5rem;

  .add-chln-form-input {
    display: flex;
    flex-flow: column;
    font-size: 0.9rem;
    // margin: 1rem 0;
    margin: auto;
    max-width: 50rem;

    .add-chln-form-sub-title {
      display: flex;
      justify-content: space-between;

      button {
        height: 2.5rem;
      }
    }

    label {
      margin: 0.5rem 0;
    }

    input::placeholder {
      color: #333;
    }

    .MuiOutlinedInput-root {
      height: 2rem;
      // max-width: 30rem;
      // font-size: 0.9rem;
      // background-color: red;
    }
    .MuiInputBase-input.Mui-disabled {
      // background-color: red;
    }

    img.preview {
      max-width: 15rem;
      margin: 1rem;
    }
  }
}
