.add-chln-form {
  padding: 2.5rem;

  .add-chln-form-input {
    display: flex;
    flex-flow: column;
    font-size: 0.9rem;
    margin: 1rem 0;

    label {
      margin: 0.5rem 0;
    }

    input::placeholder {
      color: #333;
    }

    .MuiOutlinedInput-root {
      height: 2rem;
      // font-size: 0.9rem;
      // background-color: red;
    }
  }
}
