.main-container {
  // display: flex;
  background-color: #f9f8f6;

  .main-navigation {
    width: 100%;
    display: flex;
  }

  .main-content {
    padding: 1rem;
    min-height: 40rem;
  }
}

.navigation-wrap {
  display: flex;
  width: 100%;
  font-weight: bold;

  .navigation-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    .navigation-logo-img {
      width: 7.5rem;
    }
  }
  .navigation-menu {
    margin-top: 1rem;
    flex: 4;
    display: flex;
    justify-content: center;
    .navigation-item {
      padding: 0 2.5rem;
    }
  }
  .navigation-login {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    button {
      width: 6rem;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: rgb(0, 95, 190);
    font-weight: bold;
  }
}
