
//가격
.price-content-info {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 50px 32px 146px;
  background-color: rgb(248, 249, 250);

  .price-content-info-phrase {
    flex: 1;
    -webkit-box-align: center;
    align-items: center;
    h1 {
      color: rgb(12, 36, 59);
      font-size: 52px;
      font-weight: 800;
      white-space: normal;
      text-align: center;
      word-break: keep-all;
    }
    h2 {
      color: rgb(62, 82, 101);
      font-size: 16px;
      line-height: 1.6;
      font-weight: 400;
      text-align: center;
      white-space: pre-line;
    }
    
    .price-select-content {
      width: 100%;
    }

    
  }
  
}
